<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link"{% if active == 'pooled' %} aria-current="page"{% endif %} href="/admin/pooled">Pooled</a>
    </li>
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link"{% if active == 'monthly' %} aria-current="page"{% endif %} href="/admin/monthly">Monthly per-user</a>
    </li>
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link"{% if active == 'weekly' %} aria-current="page"{% endif %} href="/admin/weekly">Weekly per-user</a>
    </li>
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link"{% if active == 'daily' %} aria-current="page"{% endif %} href="/admin/daily">Daily</a>
    </li>
  </ul>
</nav>
